/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

/* HEADER */
header {
    padding: 15px 20px;
    background-color: white;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;

}

/*COMMON*/
body {
    font-family: Arial;
    background-color: #f6f8f9;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 5px 30px;
    background-color: white;
    border-radius: 10px;
    
}

/*MAIN*/
.btn {
    background-color: #47adf1;
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    border: solid 2px #47adf1;
    text-decoration: solid;
    font-size: 13px;
    font-weight: 600;
}

.btn2 {
    border: solid 2px #dbdee1;
    color: #dbdee1;
    padding: 7px 15px;
    border-radius: 10px;
    text-decoration: solid;
    font-size: 13px;
    font-weight: 600;
}

nav {
    border-bottom: 2px solid #dbdee1;
    padding: 30px; 
}

/*list*/
.listcontainer {
    padding: 30px;
}

.list {
    list-style-type: none;
    line-height: 40px;
}

.sublist {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 18px;
}

.task {
    font-size: 25px;
    font-weight: bold;
}

.flag {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
}
 
.green {
    color: green;
}

.red {
    color: red;
}

.label {
    color: white;
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    border-radius: 12px;
    padding: 8px;
    line-height: 10px;
}

.ed {
    background-color: #45abea;
}

.q1 {
    background-color: #9c72e4;
}

.res {
    background-color: #64c0a9;
}

.mob {
    background-color: #f29e33;
}

.web {
    background-color: #d863a1;
}

.sal {
    background-color: #b0c926;
}